/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
body {
  font-family: Arial, sans-serif;
}
textarea {
  width: 100%;
  max-width: 500px;
}
input {
  margin: 0.5rem 0;
}
button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

